@use 'util';
@use 'tokens';


@mixin btn-kind($color) {
  background: $color;

  &:hover {
    background: scale-color($color, $lightness: -15%);
  }

  &:active {
    background: scale-color($color, $lightness: -25%);
  }

  &.outline {
    background: tokens.$color-white;
    color: $color;
    border: $border solid $color;
  }

  &.ghost {
    background: tokens.$color-white;
    color: $color;
  }
}

@mixin btn-size($size) {
  height: map-get(tokens.$height, $size);
  font-size: map-get(tokens.$font-size, util.smaller($size, 1));
}

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: $color-white;
  padding-left: map-get(tokens.$spacing, 'md');
  padding-right: map-get(tokens.$spacing, 'md');
  border-radius: tokens.$radius;

  &.text-icon {
    padding-left: map-get(tokens.$spacing, 'sm');
  }

  &.primary {
    @include btn-kind(tokens.$color-blue);
  }

  &.danger {
    @include btn-kind(tokens.$color-red);
  }

  &.disabled {
    background: tokens.$color-gray-03;
    color: tokens.$color-gray-05;
  }

  &.xs {
    padding-left: map-get(tokens.$spacing, 'sm');
    padding-right: map-get(tokens.$spacing, 'sm');
    height: map-get(tokens.$height, 'xs');
    font-size: map-get(tokens.$font-size, '2xs');
  }

  @each $size in 'sm', 'md', 'lg' {
    &.#{$size} {
      @include btn-size($size)
    }
  };

  .text-icon {
    margin-right: map-get(tokens.$spacing, '2xs');
  }
}