html {
  height: 100%;
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$spacing-baseline: 4px;
$spacing: (
  '2xs': $spacing-baseline,
  'xs': $spacing-baseline * 2,
  'sm': $spacing-baseline * 3,
  'md': $spacing-baseline * 4,
  'lg': $spacing-baseline * 5,
  'xl': $spacing-baseline * 6,
  '2xl': $spacing-baseline * 7,
  '3xl': $spacing-baseline * 8,
  '4xl': $spacing-baseline * 9,
  '5xl': $spacing-baseline * 10,
  '6xl': $spacing-baseline * 12,
);

$height-baseline: 8px;
$height: (
  'xs': $height-baseline * 3,
  'sm': $height-baseline * 4,
  'md': $height-baseline * 5,
  'lg': $height-baseline * 6,
  'xl': $height-baseline * 8,
);

$color-blue: #4299E1;
$color-red: #f56565;
$color-black: #000000;
$color-white: #FFFFFF;
$color-gray-01: #F7FAFC;
$color-gray-02: #F3F4F5;
$color-gray-03: #E5E7EA;
$color-gray-04: #D8DBE1;
$color-gray-05: #C0C3CA;
$color-gray-06: #A6AAB3;
$color-gray-07: #80848E;
$color-gray-08: #5F636E;
$color-gray-09: #3C404B;
$color-gray-10: #161C2C;

$font-size: (
  '2xs': 12px,
  'xs': 14px,
  'sm': 16px,
  'md': 18px,
  'lg': 24px,
  'xl': 32px,
  '2xl': 48px,
  '3xl': 60px,
);

$border-sm: 1px;
$border-lg: 2px;
$radius: 4px;

$sizes: '3xs', '2xs', 'xs', 'sm', 'md', 'lg', 'xl', '2xl', '3xl';

@function bigger($size, $amount) {
  @return nth($sizes, index($sizes, $size) + $amount);
}

@function smaller($size, $amount) {
  @return nth($sizes, index($sizes, $size) - $amount);
}

@mixin shadow {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: $radius;
}

@mixin btn-kind($color) {
  background: $color;

  &:hover {
    background: scale-color($color, $lightness: -15%);
  }

  &:active {
    background: scale-color($color, $lightness: -25%);
  }

  &.outline {
    background: $color-white;
    color: $color;
    border: $border-sm solid $color;
  }

  &.ghost {
    background: $color-white;
    color: $color;
  }
}

@mixin btn-size($size) {
  height: map-get($height, $size);
  font-size: map-get($font-size, smaller($size, 1));
}

.btn {
  border: none;
  color: $color-white;
  padding-left: map-get($spacing, 'md');
  padding-right: map-get($spacing, 'md');
  border-radius: $radius;

  &.text-icon {
    padding-left: map-get($spacing, 'sm');
  }

  &.primary {
    @include btn-kind($color-blue);
  }

  &.danger {
    @include btn-kind($color-red);
  }

  &.disabled {
    background: $color-gray-02;
    color: $color-gray-04;
  }

  &.xs {
    padding-left: map-get($spacing, 'sm');
    padding-right: map-get($spacing, 'sm');
    height: map-get($height, 'xs');
    font-size: map-get($font-size, '2xs');
  }

  @each $size in 'sm', 'md', 'lg' {
    &.#{$size} {
      @include btn-size($size)
    }
  };

  .text-icon {
    margin-right: map-get($spacing, '2xs');
  }
}

@mixin input {
  border: none;
  background: $color-gray-01;
  border-radius: $radius;
  padding-top: map-get($spacing, 'xs');
  padding-bottom: map-get($spacing, 'xs');
  padding-left: map-get($spacing, 'md');
  padding-right: map-get($spacing, 'md');
  font-size: map-get($font-size, '2xs');
  color: $color-blue;

  &:hover {
    background: $color-gray-02;
    color: $color-gray-06;
  }

  &:focus {
    color: $color-black;
    background: $color-white;
    border: $border-lg solid $color-blue;
  }

  &.disabled {
    color: $color-gray-03;
  }

  &.outline, &.icon {
    background: $color-white;
    color: $color-gray-05;
    border: $border-sm solid $color-gray-05;
    box-sizing: border-box;

    &:hover {
      border: $border-sm solid $color-gray-06;
      color: $color-gray-06;
    }

    &:focus {
      color: $color-black;
      background: $color-white;
      border: $border-lg solid $color-blue;
    }

    &.disabled {
      color: $color-gray-03;
      background: $color-gray-01;
      border: $border-sm solid $color-gray-02;
    }
  }

  &.with-icon {
    padding-left: map-get($spacing, '4xl');
  }
}

.text-field {
  position: relative;
  .input {
    @include input;
  }
  .icon {
    position: absolute;
    margin-top: map-get($spacing, 'xs');
    color: $color-gray-04;
    left: map-get($spacing, 'sm');
  }

}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;

  .input-container {
    display: flex;
    .icon {
      position: absolute;
      margin-top: map-get($spacing, 'xs');
      color: $color-gray-04;
      left: map-get($spacing, 'sm');   
    }
    .input {
      @include input;
      flex: 1;
    }
  }
  .options {
    @include shadow;
    width: 100%;
    position: absolute;
    list-style-type: none;
    margin-top: map-get($spacing, '5xl');
    padding-top: map-get($spacing, '2xs');
    padding-bottom: map-get($spacing, '2xs');
    padding-left: 0px;

    .option {
      font-size: map-get($font-size, 'xs');
      padding-top: map-get($spacing, '2xs');
      padding-bottom: map-get($spacing, '2xs');
      padding-left: map-get($spacing, '3xl');

      &:hover, &.keyed {
        background: $color-gray-02;
      }
    }
  }
}