html {
  height: 100%;
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

.input-row {
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.svg-inline {
  font-size: .75rem;
  overflow: visible;
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
}

.red-text {
  color: red;
}

p {
  margin-top: 0;
}
