@import './variables.scss';

html {
  height: 100%;
  font-family: "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

.input-row {
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.tab-div {
  width: 24rem;
  height: 24rem;
  border: 1px solid #D8DBE1;
}

.concrete-tab-content {
  .content {
    padding: 1rem;
  }
}

.svg-inline {
  font-size: .75rem;
  overflow: visible;
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
}

.red-text {
  color: red;
}

p {
  margin-top: 0;
}

.card {
  @include shadow;
  border: $border-sm solid $color-gray-04;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-radius: $radius;
}