@import './variables.scss';

.concrete-input-row {
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
}

.concrete-input-row * {
  box-sizing: border-box;
}

.concrete-input-label {
  width: 10rem;
  height: 2rem;
  line-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 0.5rem;
  flex: none;

  &.xs {
    font-size: $text-xs;
  }

  &.sm {
    font-size: $text-sm;
  }

  &.lg {
    font-size: $text-lg;
  }

}

.concrete-input {
  min-width: 0;
  border: $border-sm solid;
  border-color: $color-gray-03;
  border-radius: $radius;
  background-color: $color-gray-01;
  height: 2.25rem;
  flex: 1 1 0%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;

  &.xs {
    font-size: $text-xs;
    height: 1.75rem;
  }

  &.sm {
    font-size: $text-sm;
    height: 2rem;
  }

  &.lg {
    font-size: $text-lg;
    height: 2.5rem;
  }

  &.dark {
    border-color: $color-gray-08;
    background-color: rgba(255, 255, 255, 0.15);
  }

  &:hover, &:focus, &.focused {
    &:not(.disabled):not(.readOnly) {
      color: $color-black;
      border: $border-sm solid $color-blue;
      box-shadow: 0px 0px 0px 1px $color-blue;
    }
  }

  &.disabled {
    color: $color-gray-07;
    background: $color-gray-04;
  }

  
  .suffix, .prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    bottom: 1px; // so we don't cover the border
    top: 1px;
    padding: 0.125rem 0.375rem;
    height: 100%;
  }
  .suffix {
    border-radius: 0px $radius $radius 0px;
    padding-left: 0.25rem;
    right: 1px;
  }
  .prefix {
    border-radius: $radius 0px 0px $radius;
    border-right: 1px solid $color-gray-03;
    left: 1px;
    font-size: .625rem;
  }

  select, input {
    min-width: 0;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.3rem;
    height: 100%;
    font-size: $text-base;
    appearance: none;
    background-color: transparent;
    border: none;
    flex: 1 1 0%;
    
    &.text-right {
      text-align: right;
    }

    &.xs {
      font-size: $text-xs;
      padding-top: 0.2rem;
    }

    &.sm {
      font-size: $text-sm;
      padding-top: 0.2rem;
    }

    &.lg {
      font-size: $text-lg;
    }

    &:invalid {
      color: $color-gray-07;
    }

    &:focus {
      outline: none;
      border: none;
    }

    &:disabled {
      color: $color-gray-07;
      background: $color-gray-04;
      &:hover {
        border: none;
      }
    }
    &:disabled::placeholder {
      color: $color-gray-05;
    }
    &::placeholder {
      color: $color-gray-04;
    }

    &.dark {
      color: $color-white;

      &::placeholder {
        color: $color-gray-03;
      }
    }
  }

  textarea {
    padding: 0.25rem;
    font-size: $text-base;
    width: 100%;
    background-color: transparent;
    border: none;
    min-width: 100%;
    min-height: 2rem;
    font-family: sans-serif;
    line-height: 1.25em;

    &.xs {
      font-size: $text-xs;
    }

    &.sm {
      font-size: $text-sm;
    }

    &.lg {
      font-size: $text-lg;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $color-gray-07;
    }

    &.dark {
      color: $color-white;

      &::placeholder {
        color: $color-gray-03;
      }
    }
  }
}

.concrete-input-icon {
  flex: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  pointer-events: none;
}

.concrete-units {
  pointer-events: none;
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  flex: none;
}

.svg-inline {
  font-size: $text-xs;
  overflow: visible;
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
}

.concrete-select-options {
  @include shadow;
  background-color: $color-gray-02;
  border: $border-sm solid $color-gray-04;
  width: 100%;
  position: absolute;
  list-style-type: none;
  top: 1rem;
  left: 0;
  padding-left: 0;
  z-index: 20;

  .option {
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;

    &:hover, &.keyed {
      background-color: $color-blue-highlight;
      color: white;
    }

    .option-check {
      width: 1rem;
      flex: none;
    }
  }
}

.concrete-placeholder {
  color: $color-gray-07;
  flex: 1 1 0%;

  &.dark {
    color: $color-gray-03;
  }
}